<!DOCTYPE html>
<html>
  <head>
    <script src="http://{{staticServer}}/static/js/createUser.js"></script>
    <script src="http://{{staticServer}}/static/js/userLogin.js"></script>
    <script src="http://{{staticServer}}/static/ethlightjs.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://{{staticServer}}/static/js/api.js"></script>
    <script src="../js/{{contractName}}.js"></script>
  </head>
  <body onload="hideOnLoad{{contractName}}()">
    <div id="authButtonDiv">
      <button onclick="showRegister{{contractName}}()">Register</button>
      <button onclick="showLogin{{contractName}}()">Login</button>
    </div>
    <div id="createUser{{contractName}}Div">
      <p id="user-intro"> Now, please register your wallet with us!</p>
      <input type="text" name="email" id="emailCreateUser" required />
      <label for="email">Email</label>

      <input type="password" name="loginpass" id="loginpassCreateUser" required />
      <label for="loginpass">Password</label>

      <input type="hidden" name="enckey" id="enckeyCreateUser" required />
      <input type="text" name="address" id="addressCreateUser" readonly required />
      <label for="address">Address</label>

      <input type="hidden" name="app" id="appCreateUser" value="{{appName}}" required />
      <button id="user-button" onclick="submit{{contractName}}()">Register</button>
    </div>
    <div id="login{{contractName}}Div">
      <p id="login-intro"> If you are a user who has registered, please login now.</p>
      <input type="text" name="email" id="emailLogin" required />
      <label for="email">Email</label>

      <input type="password" name="loginpass" id="loginpassLogin" required />

      <label for="loginpass">Password</label>

      <input type="text" name="address" id="addressLogin" required />
      <label for="address">Address</label>

      <input type="hidden" name="app" id="appLogin" value="{{appName}}" required />
      <button id="user-button" onclick="retrieve{{contractName}}()">Login!</button>
    </div>

    <div id="keygen{{contractName}}Div">
      <p id="key-intro"> First we will generate a key. Protect it with a high entropy password. The key will e sent to you in email, encrypted, after you verify your login.</p>
      <input type="password" name="keypass" id="keypass" />
      <label for="keypass">Enter a high entropy password</label>
      <button id="keygen-button" onclick="genKeyUser()">Generate key</button>
    </div>
    <div id="wallet{{contractName}}Div">
        <input name="walletaddress" id="walletaddress" readonly />
        <label for="walletaddress">Your Address</label>
    </div>

    <div id="functions{{contractName}}Div">
	    {{#funcs}}
	    	<div id="{{name}}Div">
			<button onclick="call{{name}}()">{{name}}</button>
			{{#args}}
			<input type="text" name="{{argName}}" id="{{name}}{{argName}}" />
			{{/args}}
		</div>
	    {{/funcs}}
    </div>
    <textarea id="afterTXarea" readonly=true rows=24 cols=80></textarea>
  </body>
</html>
