<!DOCTYPE html>
<html lang="en">
<header />
<body>
    <h1>Inspect your Contracts!</h1>
     
    <login />
    <contractNameList contracts ="${data.contracts}"/>
    <contractStatus contractMeta ="${data.contractMeta}"/>

</body>
</html>





