<!DOCTYPE html>
<html lang="en">
<header />

<keyModal />
<contractJS apiURL="${data.apiURL}"
            contractMeta="${data.contractMeta}"
            txFailedHandlerName="${data.txFailedHandlerName}"
            txFailedHandlerCode="${data.txFailedHandlerCode}" 
             />

<body>
  <div class="container">
    <div class="row">
      <selectUser />
    </div>
    <div class="row">
      <div class="col-md-9" id="functionsDiv">
        <contractFunctionsCall contractMeta="${data.contractMeta}">
      </div>
      <div class="col-md-3">
        <contractStatus contractMeta ="${data.contractMeta}"/>
      </div>
    </div> <!-- end row-->
  </div> <!-- end container -->

</body>
<script>
$( document ).ready( afterTX() );
</script>
</html>






