<!DOCTYPE html>
<html lang="en">
<header />
<contractJS apiURL="${data.apiURL}"/>

<body>
  <div class="col-md-9" id="functionsDiv">
     <contractFunctionsCall contractMeta="${data.contractMeta}">
     <login />
  </div>
  <body onload="afterTX()">

  <loginStatus />
  <contractStatus contractMeta ="${data.contractMeta}"/>

</body>
</html>






